{% load static %}
<!-- header.html -->
<header>
    <div class="hamburger" onclick="toggleMenu()">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512">
            <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
        </svg>
    </div>
    <div class="nav-wrapper">
            <div class="logo-wrapper"> 
                <a class="nav-item" href="#hero"> 
                    <img src="{% static 'core/img/logo.svg' %}" alt="Logo">
                </a>
            </div>
            <ul class="navitems">
                <li class="nav-item">
                    <a href="#about"><span>About</span></a>
                </li>
                <li class="nav-item"> 
                    <a href="#experience"><span>Experience</span></a>
                </li>
                <li class="nav-item"> 
                    <a href="#projects"><span>Work</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% static "core/IVAN VIZCAINO SOFTWARE DEVELOPER RESUME.pdf" %}" target="_blank"><button class="btn">Resume</button></a>
                </li>
            </ul>
    </div>
</header>