:root {
    --color-background:  #0a192f;
    --color-font: #8892b0;
    --color-lightFont:  #ccd6f6;
    --color-StrongFont: #64ffda;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5vh;
}
a{
    all: unset;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-background);
    font-family: NTR,sans-serif;
    color: var(--color-font);
}

header{
    width: 100vw;
    height: 0;
}

section{
    height: 100vh;
}

hr {
    border: none;
    border-bottom: 0.15rem solid #233554;
    margin-left: 2rem;
    width: 25%;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background)
}

::-webkit-scrollbar {
    background-color: var(--color-font);
    width: .6rem
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-font);
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}

.btn {
    background: var(--color-background);
    border: 0.1rem solid var(--color-StrongFont);
    border-radius: 0.5rem;
    color: var(--color-StrongFont);
    cursor: pointer;
    font-weight: 300;
    padding: 0.5rem 1rem;
}

button:hover {
    background: var(--color-StrongFont);
    border: .1rem solid var(--color-background);
    color: var(--color-background)
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding-left: 8rem;
    position: fixed;
    background-color: var(--color-background);
    width: 100%;
    height: 10vh;
    z-index: 1;
}
  
.nav-wrapper.scrolled {
    background-color: var(--color-background);
    height: 5vh;
    margin-top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-wrapper a{
    cursor: pointer;
}

.navitems{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    color: var(--color-StrongFont);
}

.hamburger{
    display: none;
    width: 5vw;
    height: 5vw;
    color: var(--color-StrongFont);
}

#hero{
    display: flex;
    align-items: flex-end;
}

.hero-wrapper{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.title{
    font-size: 2rem;
    width: 80%;
}

.description{
    width: 80%;
    margin: 5em;
}
  
.Typist{
    color: var(--color-lightFont);
    font-size: 3em;
    font-weight: 400;
}


.Cursor--blinking {
    -webkit-font-smoothing: antialiased;
    line-height: 6rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    animation: blink 1s linear infinite;
    opacity: 1;
    color: var(--color-StrongFont);
    padding-left: 4px;
    
}

.summary {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}


.light{
    color: var(--color-StrongFont);
}

.heading {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-lightFont);
    font-size: 3rem;
    font-weight: 600;
    padding-left: 7%;
    
}

.about-content{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    
}

.about-text {
    width: 45%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-description{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-description li:before {
    color: var(--color-StrongFont);
    content: "▹ ";
}

.about-image{
    width: 360px;
    height: 480px;
    border-radius: 0px;
    box-shadow:  21px 21px 6px #050b15;
          

}

.about-image img{
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.experience-content{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-tab{
    width: 70%;
    height: 70%;
    display: flex;
}

.tab{
    display: flex;
    align-items: flex-start;
    width: 25%;
}

.tablinks{
    width: 100%;
}

.tablink{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: var(--color-lightFont);
}

.tab-indicator{
    width: 3px;
    position: relative;
}

.MuiTabs-indicator{
    width: 100%;
    height: none;
    position: absolute;
    background-color: var(--color-StrongFont);
}

.tab-content{
    width: 70%;
    font-size: 2rem;
}

.job{
    display: none;
    width: 100%;
    height: 100%; 
}

.joblist-job-title{
    margin-left: 1.5em;
    font-size: 1.5em;
    color: var(--color-lightFont);
    font-family: NTR, sans-serif;
}

.joblist-job-company{
    font-family: NTR, sans-serif;
    font-size: 1.5em;
    color: var(--color-StrongFont);
}


.joblist-duration{
    margin-left: 2rem;
}

.job-description {
    font-family: NTR, sans-serif;
    font-size: 20px;
    max-width: 650px;
    padding-top: 24px;
    overflow-y: auto;
}

.job-description li:before {
    color: var(--color-StrongFont);
    content: "▹ ";
}

.projects-content{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.projects-grid{
    width: 90%;
    height: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr); 
}

.projects-card {
    background-color: #10213e;
    border-radius: 16px;
    cursor: default;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.75rem;
}

.card-header {
    border-bottom: none!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
    padding: 1.25em 0!important;
}

.folder-icon{
    color: var(--color-StrongFont);
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1.5em;
    user-select: none;
}

.card-title {
    color: var(--color-lightFont);
    font-size: 2rem;
    font-weight: 700;
}

.card-des{
    overflow: auto;
}

.card-tech {
    color: var(--color-StrongFont);
    font-size: 1rem;
}

footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .hamburger{
        display: inline-block;
        position: fixed;
        right: 2vw;
        top: 2vw;
        z-index: 2;
    }

    .nav-wrapper, .nav-wrapper.scrolled{
        flex-direction: column;
        position: fixed;
        justify-content: space-evenly;
        width: 100%;
        height: 100vh;
        left: 100vw;
        top: 0;
        padding: 0;
        margin: 0;
        transition: 300ms;
        box-shadow: 5px 5px 12px #00000035;
        background: #ffffff25;
        backdrop-filter: blur(6px);
    }

    .nav-wrapper.active,.nav-wrapper.active.scrolled{
        left: 0;
    }

    .nav-wrapper a:hover{
        color: var(--color-lightFont);
    }

    .navitems{
        flex-direction: column;
        height: 50%;
        justify-content: space-evenly;
        font-size: 2rem;
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-wrapper{
        justify-content: space-evenly;
    }

    .title{
        font-size: 1.25rem;
        margin: 0;
    }

    .description{
        width: 100%;
        margin: 0;
    }

    .summary{
        font-size: 1rem;
    }

    .heading{
        font-size: 2rem;
    }

    .about-content{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
        overflow: hidden;
    }

    .about-text{
        width: 100%;
        font-size: 1rem;
        height: 60%;
        justify-content: flex-start;
    }

    .about-image{
        height: 30vh;
        width: calc(3/4*30vh);

    }

    .experience-content{
        width: 90%;
        padding-left: 1rem;
    }

    .experience-tab{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .tab{
        width: 100%;
    }

    .tablink{
        font-size: 1rem;
    }

    .tab-content{
        width: 100%;
        padding-top: 1.5rem;
        font-size: 1rem;
    }

    .joblist-job-title{
        margin: 0;
    }

    .projects-grid{
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }

    .heading-title{
        width: 50%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {


}
  

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}