:root {
    --color-background:  #0a192f;
    --color-font: #8892b0;
    --color-lightFont:  #ccd6f6;
    --color-StrongFont: #64ffda;
}

html {
    scroll-behavior: smooth
}

body {
    background: var(--color-background);
    font-family: NTR,sans-serif;
    color: var(--color-font);
}

header{
    width: 100vw;
    height: 0;
}

section{
    height: 100vh;
}

hr {
    border: none;
    border-bottom: 0.15rem solid #233554;
    margin-left: 2rem;
    width: 25%;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background)
}

::-webkit-scrollbar {
    background-color: var(--color-font);
    width: .6rem
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-font);
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -4.5rem;
    margin-top: 2rem;
    padding-left: 8rem;
    padding-right: 5rem;
    position: fixed;
    background-color: var(--color-background);
    width: 100%;
    height: 10vh;
    z-index: 1;
}
  
.nav-wrapper.scrolled {
    background-color: var(--color-background);
    height: 5vh;
    margin-top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navitems{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

#hero{
    display: flex;
    align-items: flex-end;
}

.hero-wrapper{
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.title{
    font-size: 2em;
    width: 80%;
}

.description{
    width: 80%;
    margin: 5em;
}
  
.Typist{
    color: var(--color-lightFont);
    font-size: 7rem;
    font-weight: 400;
    margin-left: -0.45rem;
}


.Cursor--blinking {
    -webkit-font-smoothing: antialiased;
    line-height: 6rem;
    font-size: 7rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    animation: blink 1s linear infinite;
    opacity: 1;
    color: var(--color-StrongFont);
    padding-left: 4px;
    
}

.summary {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}


.light{
    color: var(--color-StrongFont);
}

.heading {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-lightFont);
    font-size: 3rem;
    font-weight: 600;
    padding-left: 7%;
    
}

.about-content{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    
}

.about-text {
    width: 45%;
    font-size: 1.5rem;
    font-weight: 400;
}

.about-description{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-description li:before {
    color: var(--color-StrongFont);
    content: "▹ ";
}

.about-image{
    width: 45%;
}

.experience-content{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-tab{
    width: 70%;
    height: 70%;
    display: flex;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

.tablinks{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    background: none;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: var(--color-lightFont);
}

.tab-indicator{
    width: 3px;
    position: relative;
}

.MuiTabs-indicator{
    width: 100%;
    height: none;
    position: absolute;
    background-color: var(--color-StrongFont);
}

.job{
    display: none;
}

.joblist-job-title{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--color-lightFont);
    font-family: NTR, sans-serif;
}

.joblist-job-company{
    font-family: NTR, sans-serif;
    font-size: 2rem;
    color: var(--color-StrongFont);
}


.joblist-duration{
    margin-left: 2rem;
    font-size: 1.5rem;
}

.job-description {
    font-family: NTR, sans-serif;
    font-size: 20px;
    max-width: 650px;
    padding-top: 24px;
}

.job-description li:before {
    color: var(--color-StrongFont);
    content: "▹ ";
}

.projects-content{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-grid{
    width: 90%;
    height: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
}

.projects-card {
    background-color: #10213e;
    border-radius: 16px;
    cursor: default;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.75rem;
}

.card-header {
    border-bottom: none!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
    padding: 1.25em 0!important;
}

.folder-icon{
    color: var(--color-StrongFont);
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1.5em;
    user-select: none;
}

.card-title {
    color: var(--color-lightFont);
    font-size: 2rem;
    font-weight: 700;
}

.card-tech {
    color: var(--color-StrongFont);
    font-size: 1rem;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}