{% load static %}
<!-- about.html -->
<section id="about">
    <div class="about-heading heading">
        <span class="heading-title">About Me</span> <hr>
    </div>

    <div class="about-content">
        <div class="about-text">
            <p>
                Hello! My name is Ivan, and I thrive on creating solutions that contribute to great projects. 
                I am a<span class="light"> software developer</span> and a standout student of <span>systems engineering</span>, 
                passionate about building software that is both beautiful and functional. 
                I am driven by the pursuit of excellence in my academic and professional endeavors. 
                Currently, I am <span class="light">open to new opportunities, so feel free to reach out. </span>
                Here are some technologies I have been working with
            </p>
        </div>
        <div class="about-image"><img src="{% static "core/img/personal_photo.png" %}" alt="person" class="person"></div>
        <div class="about-description">
            <ul class="skills-grid">
                {% for skill in skills %}
                <li class="skill-card">
                    <h2 class="skill-tittle">{{ skill.name }}</h2>
                    <img src="{{ skill.technology.logo.url }}" alt="{{ skill.technology.name }}" class="skill-image">
                </li>
                {% endfor %}
                </ul>
        </div>
    </div>
</section>