{% load static %}
<!-- about.html -->
<section id="about">
    <div class="about-heading heading">
        <span class="heading-title">About Me</span> <hr>
    </div>
    <div class="about-content">
        <div class="about-text">
            <p>
                Hello! My name is Ivan, and I thrive on creating solutions that contribute to great projects. 
                I am a<span class="light"> software developer</span> and a standout student of <span>systems engineering</span>, 
                passionate about building software that is both beautiful and functional. 
                I am driven by the pursuit of excellence in my academic and professional endeavors. 
                Currently, I am <span class="light">open to new opportunities, so feel free to reach out. </span>
                Here are some technologies I have been working with
        </p>
            <div class="about-description">
                <div class="coreTechnologies-wrapper">
                    <span class="light">Core</span>
                    <ul class="tech-stack">
                        <li> <span>Python</span> </li>
                        <li> <span>Java</span> </li>
                        <li> <span>Spring boot</span> </li>
                        <li> <span>SQl</span> </li>
                    </ul>
                </div>
                <div class="supportTechnologies-wrapper">
                    <span class="light">Support</span>
                    <ul class="tech-stack">
                        <li> <span>AWS</span> </li>
                        <li> <span>JavaScrip</span> </li>
                        <li> <span>HTML</span> </li>
                        <li> <span>CSS</span> </li>
                    </ul>
                </div>
            </div>
            Outside of work, I'm interested in following the advancement of technology.
        </div>
        <div class="about-image aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000"><img src="{% static "core/img/personal_photo.png" %}" alt="person" class="person"></div>
    </div>
</section>