{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivan Vizcaino Garcia - portfolio</title>
    <meta name="description" content="A portfolio website to show all my projects and skills.">
    <link rel="icon" href="{% static 'core/img/icon.png' %}" type="image/png">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/portfolio.css' %}">
    <script src="{% static 'core/js/portfolio.js' %}"></script>
</head>

<body>
    {% include "core/partials/header.html" %}
    {% block content %}
    {% endblock  %}
    {% include "core/partials/footer.html" %}
</body>

</html>