<!-- experience.html -->
<section id="experience">
    <div class="experience-heading heading">
        <span class="heading-title">Experience</span> <hr>
    </div>
    <div class="experience-content">
        <div class="experience-tab">
            <div class="tab">
                <div class="tablinks">
                    {% for job in jobs %}
                    <button class="tablink" onclick="openJob(event, {{ job.id }})">{{ job.company }}</button>
                    {% endfor %}
                </div>
                <div class="tab-indicator">
                    <div class="MuiTabs-indicator"></div>
                </div>
            </div>
            <div class="tab-content">
                {% for job in jobs %}
                <div id="{{job.id}}" class="job">
                    <span class="joblist-job-title">{{job.title}} @ </span>
                    <span class="joblist-job-company">{{job.company}}</span><div class="joblist-duration">{{job.start_date}} - {{job.end_date}}</div>
                    <ul class="job-description">
                        {{job.description|safe}}
                    </ul>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>