<!-- experience.html -->
<section id="experience">
    <div class="experience-heading heading">
        <span class="heading-title">Experience</span> <hr>
    </div>
    <div class="experience-content">
        <div class="experience-tab">
            <div class="tab">
                <div class="tablinks">
                    <button class="tablink" onclick="openJob(event, 'firtsJob')">Bethel</button>
                    <button class="tablink" onclick="openJob(event, 'secondJob')">Next One</button>
                </div>
                <div class="tab-indicator">
                    <div class="MuiTabs-indicator"></div>
                </div>
            </div>
            <div class="tab-content">
                <div id="firtsJob" class="job">
                    <span class="joblist-job-title">Software developer @ </span>
                    <span class="joblist-job-company">Bethel SAS</span><div class="joblist-duration">Jan 2021 - Dec 2021</div><ul class="job-description">
                        <div><li>Designed and developed a custom stock control system to optimize 
                            inventory management of vehicle parts and consumables.</li></div>
                        <div><li>The software efficiently connects to a centralized database 
                            to maintain real-time records of stock levels and transactions.</li></div>
                        <div><li>Successfully implemented a stock control system that has been instrumental in the company's growth and profitability</li></div>
                    </ul>
                </div>
                <div id="secondJob" class="job">
                    <span class="joblist-job-title"></span>
                    <span class="joblist-job-company">The next one</span><div class="joblist-duration">Right now</div><ul class="job-description">
                        <div><li>the opportunity to be the next step in your team. My solid educational background and technical skills have prepared me to take on a challenging role and become a valuable addition to your company.</li></div>
                        <div><li>My experience in programming with Java and Python, as well as working on projects involving web development using Spring Boot and Flask, allows me to bring high-quality technical solutions to the table.</li></div>
                        <div><li>My competence in MySQL enables me to efficiently manage databases, ensuring data integrity and availability.</li></div>
                        <div><li>My training with Oracle Next Education certification demonstrate my commitment to continuous learning and professional growth.</li></div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>