<!-- experience.html -->
<section id="experience">
    <div class="experience-heading heading">
        <span class="heading-title">Experience</span> <hr>
    </div>
    <div class="experience-content">
            <ul class="job-list">
                {% for job in jobs %}
                <li id="{{job.id}}" class="job">
                    <span class="job-title">{{job.title}} · </span><span class="job-company">{{job.company}}</span>
                    <div class="job-duration">{{job.start_date|date:"b Y"}} - {{job.end_date|date:"b Y"}}</div>
                    <p class="job-description">
                        {{job.description}}
                    </p>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>